<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-Da-Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgerpage.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Combo&display=swap" rel="stylesheet">
</head>

<body>
	<div class="topimage">
		<img src="/assets/img/burger.png" height="180px" width="165px">
		<div class="title">Eat-Da-Burger!</div>
	</div>

	{{{ body }}}


</body>

</html>